<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="description" content="<%= description %>">

    <link rel="stylesheet" href="assets/styles/main.css">

    <!-- bower:css -->
    <!-- endbower -->

  </head>
  <body ng-app="<%= title %>">

    <!-- if ng route -->
    <div ui-view></div>

    <!-- bower:js -->
    <!-- endbower -->

    <script src="modules/app.js"></script>
    <script src="modules/main/controllers/mainController.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
