<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="description" content="<%= description %>">

    <!-- bower css -->
    <% if (uiframework === 'angular ui bootstrap') { %>
      <link rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
      <link rel="stylesheet" href="../bower_components/bootstrap-css-only/css/bootstrap.min.css" >
    <% } else if (uiframework === 'angular material') { %>
      <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" >
    <% } else { %>

    <% } %>
    <!-- end bower css -->

  </head>
  <body ng-app="<%= title %>">

    <!-- if ng route -->
    <div ui-view>uiview</div>

    <% if (uiframework === 'angular ui bootstrap') { %>
      <button type="button" class="btn btn-primary" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Com ui bootstrap
      </button>
    <% } else if (uiframework === 'angular material') { %>
      <md-button class="md-fab" aria-label="Eat cake">
        aaa
      </md-button>
    <% } else { %>
      <button type="button">
        Sem ui bootstrap
      </button>
    <% } %>

    <!-- default components js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- end default components js -->

    <!-- bower components js -->
    <% if (uiframework === 'angular ui bootstrap') { %>
      <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
      <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="../bower_components/angular-touch/angular-touch.min.js"></script>
    <% } else if (uiframework === 'angular material') { %>
      <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
      <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
      <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <% } %>
    <!-- end bower components js -->

    <!-- main app js -->
    <script src="main.js"></script>
    <!-- end main app js -->

  </body>
</html>
