    <% if (uiframework === 'angular ui bootstrap') { %>
		<div class='container' ng-controller='MainController'>
		  <div class='row'>
		    <div class='col-md-12'>
		      <h1>
		        Angular-Ui-Bootstrap
		        <small>(clientside generator)</small>
		      </h1>
		      <p class='text-muted'>
		        <small>(AngularJS + Angular UI Bootstrap)</small>
		      </p>
		      <p>Demo of clientside generator using Angular UI Bootstrap's.</p>
		      <p>
		        <a href='https://github.com/thiagorowof/clientside-generator'>Clientside-Generator (https://github.com/thiagorowof/clientside-generator)</a>
		      </p>
		    </div>
		  </div>
		  <div class='row'>
		    <div class='col-md-12'>
		      <button class='btn btn-danger'>Error Dialog</button>
		      <button class='btn btn-primary'>Wait Dialog</button>
		      <button class='btn btn-default'>Notify Dialog</button>
		      <button class='btn btn-success'>Confirm Dialog</button>
		      <button class='btn btn-warning'>Warning Dialog</button>
          <button class='btn btn-primary' ng-click="open('sm')">Open Modal</button>
		    </div>


        <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="item in items">
                            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                        </li>
                    </ul>
                    Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>

		  </div>
		  <div class='row'>
		    <div class='col-md-12'>
		      <br>
		      <p>
		        <strong>Angular:</strong>
		        Ui Bootstrap
		      </p>
		    </div>
		  </div>
		</div>

    <% } else if (uiframework === 'angular material') { %>
		<div ng-cloak="">
			  <md-content class="md-padding">
			    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
			      <md-tab id="tab1">
			        <md-tab-label>ClientSide Menu 1</md-tab-label>
			      </md-tab>
			      <md-tab id="tab2">
			        <md-tab-label>{{data.secondLabel}}</md-tab-label>
			      </md-tab>
			      <md-tab id="tab3">
			        <md-tab-label>ClientSide Menu 3</md-tab-label>
			      </md-tab>
			    </md-tabs>
			  </md-content>


			  <ng-switch on="data.selectedIndex">
			    <div id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" style="margin-left: 5%">
			      View example of angular material mvc use for menu item #1<br/> data.selectedIndex = 0

						<md-card>
						  <md-card-title>
						    <md-card-title-media>
						      <div class="md-media-sm card-media" layout layout-align="center center" >
						        <md-icon md-svg-icon="person" style="color:grey"></md-icon>
						      </div>
						    </md-card-title-media>
						    <md-card-title-text>
						      <span class="md-headline">Angular Material</span>
						      <span class="md-subhead description">Ipsum lorem caveat emptor...</span>
						    </md-card-title-text>
						  </md-card-title>
						</md-card>

			    </div>
			    <div id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" style="margin-left: 5%">
			      View example of angular material mvc use for menu item  {{data.secondLabel}}<br/> data.selectedIndex = 1
			    </div>
			    <div id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" style="margin-left: 5%">
			      View example of angular material mvc use for menu item  #3<br/> data.selectedIndex = 2
			    </div>
			  </ng-switch>
			</div>

		<% } else { %>
    <button type="button">
      Sem ui bootstrap e angular material
    </button>
    <% } %>
